<html>
    <body>
        <p>Hey <%= name %>,</p>
      
        <p>
            Hello, we have good news for you. You have been invited to participate in the process for the following job position (<%= jobName %> + <%= jobId %>).
        </p>
        
        <P>
            Please follow <a style="color: blue;" href="<%= link %>">this link</a> and read carefully the instructions to take the test.
        </P>
        <p><%= extraText %></p>
        <p>Best regards.</p>
    </body>
</html>